/* PAGE NOSOTROS */

    .section-nosotros{
        color: white;
        display: flex;
        flex-direction: column;
        h2{
            font-family: LexendTera;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            h3{
                font-family: LexendTera;
                margin-bottom: 30px;
            }
                img{
                    margin-top: 30px;
                    width: 70%;
                    height: 400px;
                    border-radius: 20px;
                }
        }
        /* PARRAFO NOSOTROS */
        .parrafo-nosotros{
            display: flex;
                .parrafo-nosotros2{
                    padding-left: 150px;
                }
        }
        /* TITULO NOSOTROS */
        .titulo-nosotros h2{
            display: flex;
            justify-content: center;
            color: white;
            font-size: 35px;
        }
        /* BOTON NOSOTROS */
        .boton-nosotros{
            display: flex;
            justify-content:center;
            padding-bottom: 200px;
            .btn{
                width: 150px;
                height: 45px;
                font-size: 20px;
                }
        }
    }

    

